* {
    box-sizing: border-box;
}

form {
    background: linear-gradient(#bd09b7, #6b4cf5);
    box-shadow: 6px 6px 8px 5px grey;
    margin: auto;
    border-radius: 20px;
    width: 300px;
    padding: 20px;
    position: relative;
}

.input-field {
    width: 100%;
    padding: 7px;
}

label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    margin-top: 10px;
}

div {
    padding-bottom: 20px;
}

button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    right: 20px;
}

@media (max-width: 500px){
    form{
        width: 100%;
    }
}

@media (min-width: 500px){
    form{
        width: 300px;
    }
}
